<template>
    <v-container>
        <form>
            <v-text-field
                    v-model="newUser.name"
                    label="Name"
                    required
            ></v-text-field>
            <v-row align="center">
                <v-col cols="12">
                    <v-select
                            :items="servicesArray"
                            label="Services"
                    ></v-select>
                </v-col>
            </v-row>
            <v-btn class="mr-4" @click="submit">submit</v-btn>
        </form>
    </v-container>
</template>

<script>
    export default {
        props: ['services'],
        data: () => ({
            newUser: {
                id: 0,
                name: null,
                arriveTime: null,
            },
            servicesArray: [],
        }),
        methods: {
            submit() {
                this.$emit('addNew', this.newUser);
                this.newUser = {};
            },
        },
        beforeMount() {
            this.services.filter(item => {
                return this.servicesArray.push(item.name)
            });
        }
    }
</script>

<style scoped>

</style>