<template>
    <v-container>
        <v-row align="center" justify="center">
            <div class="d-block">
                <span class="queue" v-bind:key="index" v-for="(item, index) in waitingVisitor">{{ item.id }}
                <span class="visitorName">{{ item.name }}</span>
                </span>
            </div>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        props: ['waitingVisitor'],
        data: () => ({

        })
    }
</script>

<style scoped>
    .queue {
        display: block;
        width: 500px;
        height: 100px;
        margin-bottom: 15px;
        background: azure;
        color: black;
        text-align: center;
        font-size: 50px;
    }

    .visitorName {
        font-size: 15px;
        display: block;
    }
</style>