<template>
    <v-container>
        <div>
            <p v-bind:key="index" v-for="(item, index) in specialist">{{ item.name }}</p>
        </div>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            specialist: [
                {id: 1, name: 'Kestas', serviceId: 1},
                {id: 2, name: 'Vytas', serviceId: 2},
                {id: 3, name: 'Gvidas', serviceId: 3},
            ]
        })
    }
</script>

<style scoped>

</style>