<template>
    <v-simple-table fixed-header height="300px">
        <template v-slot:default>
            <thead>
            <tr>
                <th class="text-left">Name</th>
                <th class="text-left">Services</th>
                <th class="text-left">ArriveTime</th>
                <th class="text-left">Specialist</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in waitingVisitor" :key="item.id">
                <td>{{ item.name }}</td>
                <td>{{ item}}</td>
                <td>{{ item.arriveTime }}</td>
                <td>{{ item.specialist }}</td>
            </tr>
            </tbody>
        </template>
    </v-simple-table>
</template>

<script>
    export default {
        props: ['waitingVisitor', 'services'],
        data: () => ({}),

    }
</script>

<style scoped>

</style>