<template>
    <v-app id="inspire">
        <v-navigation-drawer
                v-model="drawer"
                app
                clipped
        >
            <v-list>
                <v-list-item v-for="link in links" :key="link.text" router :to="link.route">
                    <v-list-item-action>
                        <v-icon>{{ link.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>{{ link.text }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar app clipped-left>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Vue queue dashboard</v-toolbar-title>
        </v-app-bar>

        <v-content>
            <router-view v-bind:waitingVisitor="waitingVisitors" v-bind:services="services" @addNew="addNew"></router-view>
        </v-content>

        <v-footer app>
            <span>&copy; 2019</span>
        </v-footer>
    </v-app>
</template>

<script>
    export default {

        data() {
            return {
                drawer: false,
                mainId: 1,
                links: [
                    {icon: 'mdi-view-dashboard', text: 'Dashboard', route: '/'},
                    {icon: 'mdi-account-card-details', text: 'Specialist', route: '/specialist'},
                    {icon: 'mdi-account-group', text: 'Visitor', route: '/visitor'},
                    {icon: 'mdi-account', text: 'Administrator', route: '/administrator'},
                ],
                waitingVisitors: [],
                servedVisitors: [],
                services: [
                    {id: 1, name: 'Pinigai', serviceId: 1},
                    {id: 2, name: 'Paskolos', serviceId: 2},
                    {id: 3, name: 'Pervedimai', serviceId: 3},
                ],
            }
        },
        methods: {
            addNew(event) {
                event.id = this.mainId;
                this.mainId++;
                event.arriveTime = new Date();
                this.waitingVisitors.push(event);
            }
        },
        created() {
            this.$vuetify.theme.dark = true
        },
    }
</script>